<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | WebSocket Proxy Demo</title>
  </head>
  <body>
    <h1>WebSocket Proxy Demo</h1>
    <h2>Login page</h2>
    <form action="/login" method="post">
      <div>
        <input type="text" name="name" />
      </div>
      <div>
        <input type="password" name="password" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
